*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*:focus{
  outline: 2px solid #ff7500;
  outline-offset: 2px;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
}

.container{
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site-header__block {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.site-header__logo-link{
  display: flex;
  color: #222222;
  margin-right: 10px;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.site-header__logo-link:hover{
  color: #DE2E54;
}

.site-header__logo-link:active{
  opacity: 0.6;
}

.sitenav__list {
  display: flex;
}

.sitenav__link {
  transition: color 0.4s ease;
  color: #222222;
}

.sitenav__item {
  font-weight: 700;
  Font-size: 14px;
  Line-height: 21px;
  letter-spacing: 2px;
  margin-right: 32px;
}

.sitenav__link:hover{
  color: #DE2E54;
}

.sitenav__link:active{
  opacity: 0.6;
}

.sitenav__link:last-child{
  margin-right: 0;
}

.site-header-btn{
  display: inline-block;
  font-family: "Open sans condensed";
  letter-spacing: 2px;
  font-weight: 700;
  Font-size: 15px;
  Line-height: 23px;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #DE2E54;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.site-header-btn:hover{
  opacity: 0.8;
  color: #DE2E54;
  border: 2px solid #DE2E54;
  padding: 10px 22px;
  background-color: #fff;
}

.site-header-btn:active{
  opacity: 0.6;
  color: #fff;
  background-color: #DE2E54;
}
/* Saytning birinchi bo'limi */

.hero{
  padding: 0;
  background-color: #0EB4C1;
}

.hero__container{
  display: flex;
  justify-content: space-between;
}

.hero__block{
  padding-top: 120px;
  width: 500px;
  color: #fff;
}

.hero__title{
  font-family: "Open sans condensed";
  Font-size: 36px;
  Line-height: 43px;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero__text{
  font-weight: 400;
  Font-size: 18px;
  Line-height: 27px;
  margin-bottom: 36px;
}

.hero__btn{
  display: inline-block;
  font-family: "Open sans condensed";
  letter-spacing: 2px;
  font-weight: 700;
  Font-size: 15px;
  Line-height: 23px;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #DE2E54;
  transition: color background-color 0.4s ease;
}

.hero__btn:hover{
  opacity: 0.8;
}

.hero__btn:active{
  opacity: 0.6  ;
}

.hero-block a{
  text-transform: uppercase;
}

.hero__img{
  display: block;
  padding-top: 29px;
}

/* Saytning ikkinchi bo'limi */

section{
  padding: 120px 288px;
}

.servise__title {
  font-family: "Open sans condensed";
  font-weight: 700;
  Font-size: 36px;
  Line-height: 43px;
  margin-bottom: 56px;
  color: #000000;
  text-align: center;
}

.block-content__box {
  display: flex;
  margin-bottom: 80px;
  align-items: center;
  justify-content: space-between;
}

.block-content__box:last-child{
  margin-bottom: 60px;
}

.block-content__images{
  border-radius: 24px;
  margin-right: 64px;
  box-shadow: 0 12px 24px -8px #006a7460;
}

.block-content__title{
  font-family: "Open sans condensed";
  font-weight: 700;
  Font-size: 24px;
  Line-height: 29px;
  color: #222222;
  margin-bottom: 24px;
}

.block-content__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

.servise__btn{
  text-align: center;
}

.servise__btn-link{
  display: inline-block;
  font-family: "Open sans condensed";
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 2px;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #DE2E54;
  text-transform: uppercase;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.servise__btn-link:hover{
  opacity: 0.8;
  color: #DE2E54;
  border: 2px solid #DE2E54;
  padding: 10px 22px;
  background-color: #fff;
}

.servise__btn-link:active{
  opacity: 0.6;
  color: #fff;
  background-color: #DE2E54;
}


 /* Saytning footer qismi */

.site-footer__footer-top{
  color: #ffffff;
  padding: 64px ;
  background-color: #0EB4C1;
  text-align: center;
}

.footer-top__title{
  font-family: "Open sans condensed";
  font-weight: 700;
  Font-size: 36px;
  Line-height: 43px;
  margin-bottom: 40px;
}

.footer-top__link {
  display: inline-block;
  font-family: "Open sans condensed";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  padding: 12px 24px;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #ffffff;
  text-transform: uppercase;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.footer-top__link:not(:last-child) {
  margin-right: 40px;
}


.footer-top__link:hover{
  color: #fff;
  border: 1px solid #DE2E54;
  background-color: #DE2E54;
}

.footer-top__link:active{
  opacity: 0.6;
  color: #fff;
}

.img-block__link{
  display: flex;
  color: #fff;
  transition: color 0.4s ease;
}

.img-block__link:hover{
  color: #DE2E54;
}

.img-block__link:active{
  color: #fff;
  opacity: 0.6;
}


.footer a:last-child{
  margin-right: 0;
}

.footer-bottom{
  color: #fff;
  background-color: #222222;
}

.footer-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-bottom__list {
  display: flex;
  font-weight: 700;
  Font-size: 14px;
  letter-spacing: 2px;
  Line-height: 21px;
  text-transform: uppercase;
}

.footer-bottom__link{
  margin-left: 32px;
  color: #fff;
  transition: color 0.4s ease;
}

.footer-bottom__link:hover{
  color: #DE2E54;
}

.footer-bottom__link:active{
  opacity: 0.6;
  color: #fff;
}
